<aside id="sidebar">
  <ul>
    <li><%= link_to "Categories", categories_path %></li>
    <li><i><%= link_to "New Category", new_category_path %></i></li>
    <li><%= link_to "My Assets" %></li>
    <li><%= link_to "Transaction History" %></li>
    <li><%= link_to "Maps", maps_path %></li>
  </ul>
</aside>