<div id="dashboard-container">
  <%= render "sidebar" %>
  <main id="dashboard-content">
    <%= render "map_markers" %>
    <div id="transaction-history">
      <div id="recent-title">
        <h1>Inventory</h1>
        <h1>Deployment</h1>
      </div>
      <div id="recent-transactions-container">
        <div id="recent-inventory">
          <% @orders.reverse[0,4].each do |order|%>
            <% if order.classification == "Purchase" || order.classification == "Sell"%>
              <header>
                <h5><%= order.classification%></h5>
                <h5><%= order.transaction_date.strftime("%d %b %Y")%></h5>
              </header>
              <main>
                <h3><%= order.name%></h3>
                <span>
                  <% if order.classification == "Purchase" %>
                    <h3>-<%= number_to_currency(order.price, unit: "₱")%></h3>
                    <h4>+<%= pluralize(order.quantity, "unit") %></h4>
                  <% else %>
                    <h3>+<%= number_to_currency(order.price, unit: "₱")%></h3>
                    <h4>-<%= pluralize(order.quantity, "unit") %></h4>
                  <% end %>
                </span>
              </main>
            <% end %>
          <% end %>
        </div>
        <div id="recent-deployment">
          <% @orders.each do |order|%>
          <% end %>
          <li>deploy</li>
        </div>
      </div>
    </div>
  </main>
</div>