<div id="dashboard-container">
  <%= render "sidebar" %>
  <main id="dashboard-content">
    <%= render "map_markers" %>
    <div id="transaction-history">
      <div id="recent-title">
        <h1>Inventory</h1>
        <h1>Deployment</h1>
      </div>
      <div id="recent-transactions-container">
        <div id="recent-inventory">
          <% @orders.reverse[0,4].each do |order|%>
            <% if order.classification == "Purchase" || order.classification == "Sell"%>
              <header>
                <% if order.classification == "Purchase" %>
                  <h5 class="purchase-order"><%= order.classification%></h5>
                <% else %>
                  <h5 class="sell-order"><%= order.classification%></h5>
                <% end %>
                <h5><%= order.transaction_date.strftime("%d %b %Y")%></h5>
              </header>
              <main>
                <h3><%= order.name%></h3>
                <span>
                  <% if order.classification == "Purchase" %>
                    <h3>-<%= number_to_currency(order.price, unit: "₱")%></h3>
                    <h4>+<%= pluralize(order.quantity, "unit") %></h4>
                  <% else %>
                    <h3>+<%= number_to_currency(order.price, unit: "₱")%></h3>
                    <h4>-<%= pluralize(order.quantity, "unit") %></h4>
                  <% end %>
                </span>
              </main>
            <% end %>
          <% end %>
        </div>
        <div id="recent-deployment">
          <% @deployments.reverse[0,4].each do |deployment|%>
            <header>
              <h5><%= deployment.address%></h5>
              <% if deployment.status == "Outgoing" %>
                <h4 class="outgoing-history"><%= deployment.status%></h4>
              <% else %>
                <h4 class="incoming-history"><%= deployment.status%></h4>
              <% end %>
            </header>
            <main>
              <span class="recent-deployment-datetime">
                <h3><%= deployment.vehicle_name %></h3>
                <h5><%= deployment.deployment_date.strftime("%d %b %Y") %> | <%= deployment.deployment_time.strftime("%I:%M %p") %></h5>
              </span>
              <span>
                <% if deployment.status == "Outgoing" %>
                  <h3>-<%= pluralize(deployment.quantity, "unit") %></h3>
                  <h4><%= number_to_currency(deployment.price, unit: "₱")%>/day</h4>
                <% else %>
                  <h3>+<%= pluralize(deployment.quantity, "unit") %></h3>
                  <h4><%= number_to_currency(deployment.price, unit: "₱")%>/day</h4>
                <% end %>
              </span>
            </main>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>