<%= form_with(model: [@category, @asset], data: { turbo: false }) do |form| %>
  <% if @asset.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @asset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "asset-form">
    <div>
      <%= form.label :name %>
      <%= form.text_field :name , class: "asset-form-name"%>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_area :description, class: "asset-form-description"%>
    </div>

    <div>
      <%= form.label :price %>
      <%= form.number_field :price, step: 0.01, class: "asset-form-price"%>
    </div>

    <div>
      <%= form.label :classification %>
      <%= form.select :classification, options_for_select(["Undeployable", "Deployable"]), class: "asset-form-classification" %>
    </div>

    <div>
      <%= form.label :quantity %>
      <%= form.number_field :quantity, class: "asset-form-quantity"%>
    </div>

    <div>
      <%= form.label :rent_price %>
      <%= form.number_field :rent_price, step: 0.01, class: "asset-form-rent-price"%>
    </div>

    <div>
      <%= form.label :invoice_number %>
      <%= form.number_field :invoice_number, class: "asset-form-invoice" %>
    </div>

    <div>
      <%= form.label :purchase_date %>
      <%= form.date_field :purchase_date, class: "asset-form-purchase-date"%>
    </div>

    <div>
      <%= form.label :notes %>
      <%= form.text_area :notes, class: "asset-form-notes"%>
    </div>

    <div class="single-image-add">
      <%= form.label :image %>
      <%= form.file_field :image, class: "asset-form-image" %>
    </div>

    <div class="multiple-images-add">
      <%= form.label :pictures %>
      <%= form.file_field :pictures, multiple: true, class: "asset-form-pictures" %>
    </div>

  </div>

  <div class="asset-submit-btn">
    <%= form.submit %>
  </div>

<% end %>