<h1>Categories#new</h1>
<p>Find me in app/views/categories/new.html.erb</p>

<%= form_with model: @category, local: true do |f| %>
  
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
  
    <p>
      <%= f.label :description %><br/>
      <%= f.text_field :description %>
    </p>
    
    <p>
      <%= f.submit %>
    </p>
    
    <% end %>
  